.buscador-principal{
  .margin{
    margin-top: 5%;
  }
  .btn-home{
    background-color: #203b52;
  }
  .img-fluid{
    width: 17em;
  }
  .productos{
    margin: 1em auto;
    padding-top: 2em;
  }
  .margin-default-image{
    padding-top: 20%;
  }
  .buscador{
    display: flex;
    width: 100%;
  }
}
