.small-card{
    .image {

      position: relative;

      width: 100%; /* for IE 6 */

    }
    .precio {

      position: absolute;

      top: 10px;

      left: 65%;

      width: 30%;

      font-weight: bold;

      padding-right: 3em;

      margin-left: 25px;
    }
}
