<div class="center">
  <%= form_tag(productos_path, method: :get, class: 'buscador') do %>
    <%= text_field_tag 'query', params[:query], placeholder: 'Que es lo que estas buscando?' %>
    <%= button_tag(type: 'submit', class: 'btn-sin-estilo') do %>
      <i class="material-icons">search</i>
    <% end %>
  <% end %>
</div>
