<div class="margin">
  <div class="center">
    <%= image_tag('logodeoferta.png', class: 'img-fluid') %>
  </div>
  <div class="buscador center">
    <input type="text" name="" value="">
    <%= link_to "Buscar", productos_path, class: 'btn btn-home' %>
  </div>
</div>

<style media="screen">
  .buscador{

  }
  .margin{
    margin-top: 15%;
  }
  .btn-home{
    background-color: #203b52;
  }
  .img-fluid{
    width: 17em;
  }
</style>
