<div class="container">
  <div class="row">
    <% @favoritos.each do |fav| %>
      <div class="col s4">
        <%= render 'productos/card', producto: fav.producto  %>
      </div>
    <% end %>
  </div>
</div>
