@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        line-height: 64px;
    }
    nav.nav-extended .nav-wrapper {
        min-height: 64px;
    }

    }
@media only screen and (min-width: 993px){
    .db {
        width: 70%;
    }

}

@media only screen and (min-width: 601px){
    .db {
        width: 85%;
    }
}