<p>Hello <%= @resource.email %>!</p>

<p>Pediste cambiar tu contraseña, puedes hacerlo con el link de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo pediste, ignora este email.</p>
