<nav class="nav-extended">
  <div class="nav-background">
    <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?8832195377581716423');"></div>
  </div>
  <div class="nav-wrapper db">
    <a href="/" class="brand-logo"><i class="material-icons">camera</i>DeOferta</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="bt hide-on-med-and-down">
      <%= render 'layouts/links' %>
    </ul>
    <ul id="mobile-demo" class="sidenav">
      <%= render 'layouts/links' %>
    </ul>
    <!-- Dropdown Structure -->

      <div class="nav-header de">
        <h1>ENCONTRA LO QUE BUSCAS</h1>
        <div class="ge">Y EL MEJOR PRECIO</div>
      </div>
    </div>

  <!-- Fixed Masonry Filters -->
  <div class="categories-wrapper af lighten-1">
    <div class="categories-container pin-top" style="top: 0px;">
      <ul class="categories db">

      </ul>
    </div>
  </div>
</nav>