<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">DeOferta</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="collapsible.html">Iniciar Sesión</a></li>
    </ul>
  </div>
</nav>
