<nav>
  <div class="nav-wrapper">
    <%= link_to 'DeOferta', root_path, class: 'brand-logo' %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%= render 'layouts/links' %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render 'layouts/links' %>
    </ul>
  </div>
</nav>
