<nav>
  <div class="nav-wrapper">
    <%= link_to 'DeOferta', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="collapsible.html">Iniciar Sesión</a></li>
    </ul>
  </div>
</nav>
